@import "../../../../vars";

.QR_Download_container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.list_item_detail {
    @include custom_center("row", center, flex-start);
    padding: 10px 20px;
    position: relative;

    p:first-child {
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 5px;
    }

    p:last-child {
        font-size: 0.8em;
        margin-top: 5px;
    }

    .complete_check {
        @include absolute_center();
        border: 1px solid $success-color;
        position: absolute;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: 0.5s all;
        cursor: pointer;

        svg {
            fill: $success-color;
        }

        &:hover {
            background-color: $success-color;

            svg {
                fill: #fff;
            }
        }
    }

    .icon_show {
        svg {
            width: 70%
        }
    }
}

.main_container_detail_grid {
    display: grid;
    grid-template-areas:
        "uses maintenances spare_parts"
        "uses maintenances spare_parts";
    width: 100%;
    padding: 30px 20px;
    height: 100vh;
    grid-gap: 20px;

    .chart_section {
        grid-area: charts;
    }

    .uses_section {
        grid-area: uses;
    }

    .maintenances_section {
        grid-area: maintenances;
    }

    .spare_parts_section {
        grid-area: spare_parts;
    }
}

.custom_header_triggers {
    display: flex;
    padding: 10px 40px;

    .custom_header_trigger_item {
        cursor: pointer;
        margin-right: 10px;
        transition: 0.5s all;
        border: 1px solid #e6e6e6;
        padding: 10px;

        &:hover {
            background-color: $secondary;
            color: #fff;
            border-color: $secondary;
        }
    }

    .active {
        background-color: $secondary;
        color: #fff;
        border-color: $secondary;
    }
}

.custom_registered_hours {
    padding: 10px 0;
    min-height: 58px;
    display: flex;
    align-items: center;

    .hours_display {
        font-size: 1.8em;
        margin-left: 6px;
    }

    .reset_hours_working {
        cursor: pointer;
        margin-left: 5px;
        @include center_vertical();

        svg {
            color: $secondary;
        }

        span {
            font-size: .8em;
            margin-left: 5px;
        }
    }
}

.container_content_modal {
    padding: 20px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
