@import "../../../../vars.scss";

.custom_add_maitenance {
    @include absolute_center();
    width: 25px;
    height: 25px;
    background-color: $secondary;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;

    svg {
        color: #fff;
    }
}

.maitenance_detail_card {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;

    .check_list_item {
        display: flex;
        padding-left: 15px;
    }
}

.text_decoration_complete {
    padding-left: 12px;
}

.text_decoration_complete .MuiFormControlLabel-label {
    text-decoration: line-through;
}
