@import "../../../vars";

.list_item_container {
    margin: 20px 0;

    .list_item_shadow {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        margin: 10px 0;
    }

    .pagintaion_items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .icon_pagination {
        cursor: pointer;

        svg {
            fill: #dedede;
        }
    }
}
