@import "../../../vars";

.custom_hover_trigger {
    &:hover > .dropdown {
        display: block;
    }
}

.custom_dropdown {
    .dropdown {
        box-shadow: none !important;
        border: 1px solid #e0e0e0;
        padding: 10px 0 !important;
    }
}

.trigger_dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 100%;
    @include center_horizontal();

    svg {
        fill: $fontColor;
    }

    div {
        margin: 0 5px;
    }

    .icon_section_item {
        margin: 0;
        position: relative;

        .circle_red_notification {
            width: 8px;
            height: 8px;
            position: absolute;
            margin: 0;
            background-color: $notification_circle_color;
            border-radius: 50%;
            top: 3px;
            left: 3px;
            border: 1.8px solid #fff;
        }
    }

    .dropdown {
        box-shadow: $shadow;
        background-clip: padding-box;
        background-color: #fff;
        border-radius: 8px;
        padding: 30px 0;
        position: absolute;
        top: calc(60px - 5px);
        width: 245px;
        z-index: 1000;
        display: none;

        &::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: -6px;
            left: 47.5%;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #fff;
        }

        .rule {
            border-bottom: 1px solid #dbdbde;
            margin: 13px 32px;
            width: auto;
        }

        @mixin custom_content_li_drop {
            display: block;
            padding: 9px 32px;
            font-size: 14px;
            text-decoration: none;
            color: $fontColor;

            &:hover {
                background-color: rgba(51, 51, 51, 0.02);
            }
        }

        .list_dropdown_item {
            @include custom_content_li_drop();
        }

        .notification_task {
            padding: 10px;
            @include center_vertical();
        }

        .text_notification {
            font-size: 13px;
        }

        .icon_check_task {
            margin: 0;
            width: 35px;
            height: 35px;
            border: 1px solid $success-color;
            border-radius: 50%;
            transition: 0.5s all;
            @include absolute_center();

            &:hover {
                background-color: $success-color;

                svg {
                    fill: #fff;
                }
            }

            svg {
                fill: $success-color;
            }
        }

        li {
            clear: left;
            margin: 0;
            width: 100%;

            a {
                @include custom_content_li_drop();
            }
        }
    }
}
