$mainBackground: #f4f6fa;
$outherColor: #e5e9f0;
$outherSecondaryColor: #e8e7fb;
$fontColor: #83889c;
$secondary: #5b83d7;
$terceary: #d5c2b9;
$fontColorSecondary: #dce1e7;
$success-color: #62c762;
$error-color: #ff5242;
$notification_circle_color: #d6785b;
$shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);

@mixin center_elements {
    display: flex;
}

@mixin center_vertical {
    @include center_elements();
    align-items: center;
}

@mixin center_horizontal {
    @include center_elements();
    justify-content: center;
    align-items: center;
}

@mixin absolute_center {
    @include center_elements();
    justify-content: center;
    align-items: center;
}

@mixin custom_center($d, $x, $y) {
    @include center_elements();

    @if $d == "row" {
        justify-content: $x;
        align-items: $y;
    } @else {
        flex-direction: column;
        justify-content: $y;
        align-items: $x;
    }
}

@mixin center_direction($dest) {
    @if $dest == "row" {
        flex-direction: row;
        @include center_vertical();
    } @else {
        flex-direction: column;
        @include center_horizontal();
    }
}
