$mainBackground: #f4f6fa;
$outherColor: #e5e9f0;
$outherSecondaryColor: #E8E7FB;
$fontColor: #83889c;
$secondary: #5b83d7;
$fontColorSecondary: #dce1e7;
$shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);

@mixin center_elements {
    display: flex;
}

@mixin center_vertical {
    @include center_elements();
    align-items: center;
}

@mixin center_horizontal {
    @include center_elements();
    justify-content: center;
    align-items: center;
}

@mixin absolute_center {
    @include center_elements();
    justify-content: center;
    align-items: center;
}

@mixin center_direction($dest) {
    @if $dest == "row" {
        flex-direction: row;
        @include center_vertical();
    } @else {
        flex-direction: column;
        @include center_horizontal();
    }
}
