@import "vars", "reset";

body {
    min-height: 100vh;
    background-color: $mainBackground;
    color: $fontColor;
}

.loading_screen {
    background-color: $secondary;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.main_container {
    background-color: #fff;
    box-shadow: $shadow;
    width: 100%;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.modal_shadow {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: #00000038;

    .icon_close_modal {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    .modal_container {
        @include absolute_center();

        .modal_content {
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;
            position: relative;
        }

        .modal_size_normal {
            width: 600px;
        }

        .modal_big {
            width: 900px;
        }
    }

    .modal_details {
        background-color: #fff;
        position: absolute;
        right: 0;
        width: 80vw;
        height: 100vh;
        animation: show_modal .3s ease-out;

        @keyframes show_modal {
            from {
                right: -100%;
            }
            to {
                right: 0;
            }
        }
    }
}

.center_between {
    @include custom_center("row", space-between, "");
}

.mb_20 {
    margin-bottom: 20px;
}

.p20 {
    padding: 20px;
}

.absolute_center {
    @include absolute_center();
}

.direction_column {
    flex-direction: column;
}

.rows {
    @include center_elements();
    justify-content: space-between;
}

.rows_evely {
    @include center_elements();
    justify-content: space-evenly;
}

.separator_top {
    width: 100%;
    height: 20px;
}

.no_padding {
    padding: 0;
}

.w100 {
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.col3 {
    width: 20%;
}

.col4 {
    width: 28%;
}

.col5 {
    width: 39%;
}

.col6 {
    width: 49%;
}

.col7 {
    width: 59%;
}

.col8 {
    width: 70%;
}

.col9 {
    width: 78%;
}

.position_relative {
    position: relative;
}

.hide_element {
    display: none !important;
}

form {
    width: 100%;
}

.center_elements {
    @include center_horizontal();
}

@media screen and (max-width: 800px) {
    .hide_on_mobile {
        display: none;
    }
}

// Mobile
@media screen and (max-width: 550px) {
    @mixin w100 {
        width: 100%;
    }

    .col3 {
        @include w100();
    }

    .col4 {
        @include w100();
    }

    .col5 {
        @include w100();
    }

    .col6 {
        @include w100();
    }

    .col8 {
        @include w100();
    }

    .col9 {
        @include w100();
    }
}
