@import "vars", "reset";

body {
    min-height: 100vh;
    background-color: $mainBackground;
}

.loading_screen {
    background-color: $secondary;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.main_container {
    background-color: #fff;
    box-shadow: $shadow;
    width: 100%;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.modal_container {
    @include absolute_center();
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000038;

    .modal_content {
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        position: relative;

        .icon_close_modal {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
    }

    .modal_size_normal {
        width: 600px;
    }

    .modal_big {
        width: 900px;
    }
}

.center_between {
    @include custom_center("row" , space-between , "")
}

.mb_20 {
    margin-bottom: 20px
}

.p20 {
    padding: 20px
}

.absolute_center {
    @include absolute_center();
}

.rows {
    @include center_elements();
    justify-content: space-between;
}

.rows_evely {
    @include center_elements();
    justify-content: space-evenly;
}

.separator_top {
    width: 100%;
    height: 20px;
}

.col3 {
    width: 20%;
}

.col4 {
    width: 28%;
}

.col5 {
    width: 40%;
}

.col6 {
    width: 49%;
}

.col7 {
    width: 60%;
}

.col8 {
    width: 70%;
}

.col9 {
    width: 78%;
}

.position_relative {
    position: relative;
}

form {
    width: 100%;
}

.center_elements {
    @include center_horizontal();
}

@media screen and (max-width: 800px) {
    .hide_on_mobile {
        display: none;
    }
}

// Mobile
@media screen and (max-width: 550px) {
    @mixin w100 {
        width: 100%;
    }

    .col3 {
        @include w100();
    }

    .col4 {
        @include w100();
    }

    .col5 {
        @include w100();
    }

    .col6 {
        @include w100();
    }

    .col8 {
        @include w100();
    }

    .col9 {
        @include w100();
    }
}
