@import "../../../vars";

.background_dark {
    background-color: $outherColor;
}

.background_border {
    border: 1px solid #eaeaea;
}

.search_bar {
    height: 32px;
    border-radius: 16px;
    @include center_vertical();
    position: relative;
    width: 50%;

    .input_ovew_items {
        position: absolute;
        left: 10px;
        @include center_vertical();

        svg {
            fill: $fontColorSecondary;
        }
    }

    input {
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0 15px;
        color: $fontColor;
    }
}
