:root {
    --background_color: #fff;
    --text_titles: #572EE5;
    --separator_top_color: #572EE5;
    --text_color: #333;
    --text_color_hover: #fff;
    --background_secondary: #F3F5F8;
    --main_logo_desktop: url('../../assets/img/logo-desktop.svg');
    --main_logo_mobile: url('../../assets/img/logo-mobile.svg');
}