@font-face {
  font-family: Montserrat_light;
  src: url("../../assets/fonts/Montserrat-Light.ttf") format("truetype"); }
@font-face {
  font-family: Montserrat_regular;
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Montserrat_bold;
  src: url("../../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold; }
*,
*::before,
*::after {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  height: 90px; }
  nav .custom_navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: inherit; }
    nav .custom_navbar .custom_logo_desing figure {
      background-image: var(--main_logo_desktop);
      background-size: contain;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat; }
    nav .custom_navbar .desktop_menu {
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-content: center;
      grid-gap: 30px;
      height: inherit;
      align-items: center; }
    nav .custom_navbar .menu_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: inherit;
      text-align: center;
      color: var(--text_titles);
      font-family: Montserrat_bold;
      font-size: 13px;
      cursor: pointer; }
      nav .custom_navbar .menu_item a {
        color: var(--text_titles);
        font-family: Montserrat_bold; }
      nav .custom_navbar .menu_item .custom_add_circle {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid var(--text_titles);
        transition: .5s all; }
        nav .custom_navbar .menu_item .custom_add_circle:hover {
          background-color: var(--text_titles); }
          nav .custom_navbar .menu_item .custom_add_circle:hover a {
            color: var(--text_color); }
        nav .custom_navbar .menu_item .custom_add_circle a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-family: Montserrat_regular;
          font-size: 25px;
          width: 100%;
          height: 100%; }

.search_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  padding: 20px 0; }
  .search_section h2 {
    font-family: Montserrat_bold;
    color: var(--text_titles);
    font-size: 2em;
    text-align: center; }
    .search_section h2 .decorated_text_color {
      color: #5ed7c6; }
  .search_section .search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px; }
    .search_section .search_container .prediction_search_container {
      position: relative;
      width: 500px;
      min-height: 50px;
      border: 1px solid var(--text_titles);
      border-radius: 27px;
      padding: 11px 20px; }
      .search_section .search_container .prediction_search_container input {
        border: 0;
        min-height: 25px;
        outline: none;
        font-family: Montserrat_regular;
        color: var(--text_color);
        font-size: 15px;
        background-color: transparent;
        width: 100%;
        padding: 0 20px; }
      .search_section .search_container .prediction_search_container #loader_elements {
        position: absolute;
        border-width: 1px;
        border-style: solid;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border-color: var(--text_titles) var(--text_titles) transparent var(--text_titles);
        animation: rotate_spiral 0.5s infinite linear;
        display: none;
        right: 23px;
        top: 15px; }
@keyframes rotate_spiral {
  to {
    transform: rotate(360deg); } }
      .search_section .search_container .prediction_search_container #predictions_area_section .predictions_area_item:first-child {
        border-top: 1px solid #9cafc3;
        margin-top: 5px; }
      .search_section .search_container .prediction_search_container .predictions_area_item {
        cursor: pointer;
        padding: 5px 20px;
        color: #9cafc3; }
        .search_section .search_container .prediction_search_container .predictions_area_item:hover {
          background-color: #f3f3f3; }
  .search_section .searched_gifs_section {
    width: 100%; }
    .search_section .searched_gifs_section #searched_gifs_section--title {
      margin-top: 80px; }
    .search_section .searched_gifs_section #search_area_section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      padding: 10px;
      margin: 20px 0; }
      .search_section .searched_gifs_section #search_area_section .gif--container {
        width: 24%;
        height: 180px; }
    .search_section .searched_gifs_section #search_area_actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; }
    .search_section .searched_gifs_section #display_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .search_section .searched_gifs_section #display_info .no_found_gifs_text {
        margin-top: 15px;
        font-family: Montserrat_bold;
        font-size: 1.3em;
        color: #5ed7c6; }

.trending_container {
  background-color: var(--background_secondary);
  padding: 50px 0; }

.trending_container--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .trending_container--heading h2 {
    color: var(--text_titles);
    font-family: Montserrat_bold;
    font-size: 1.3em;
    margin-bottom: 5px; }
  .trending_container--heading p {
    color: var(--text_color);
    font-size: 0.9em; }

.trending_searchs--container {
  margin-top: 70px;
  text-align: center; }
  .trending_searchs--container h3 {
    color: var(--text_titles);
    font-family: Montserrat_bold;
    font-size: 1.3em; }
  .trending_searchs--container #trending_searchs {
    margin-top: 10px; }
    .trending_searchs--container #trending_searchs .trending_item_searched {
      margin-right: 6px;
      color: var(--text_titles);
      text-transform: capitalize;
      font-size: 1.1em;
      cursor: pointer; }
    .trending_searchs--container #trending_searchs .trending_item_searched:last-child {
      margin: 0; }

.trending_slider--container {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 275px;
  max-height: 300px;
  margin: 50px 0; }
  .trending_slider--container .trending_slider--container-content {
    overflow: hidden; }
    .trending_slider--container .trending_slider--container-content #trending_slider--content {
      height: 100%;
      transition: 0.5s all; }
      .trending_slider--container .trending_slider--container-content #trending_slider--content .slide_content_separator {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        float: left;
        width: 357px; }
        .trending_slider--container .trending_slider--container-content #trending_slider--content .slide_content_separator .gif--container {
          margin: 0;
          width: 375px;
          height: 100%; }
  .trending_slider--container .arrow_button {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--text_titles);
    color: var(--text_titles);
    cursor: pointer;
    transition: 0.5s all; }
    .trending_slider--container .arrow_button:hover {
      background-color: var(--text_titles);
      color: var(--text_color_hover); }
  .trending_slider--container .arrow_left {
    left: -60px; }
  .trending_slider--container .arrow_right {
    right: -60px; }

.gif--container {
  margin-bottom: 20px;
  position: relative;
  transition: 0.5s all; }
  .gif--container .gif--img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gif--container .gif--hover-container {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(87, 46, 229, 0.6); }
    .gif--container .gif--hover-container .gif--content-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 10px;
      right: 10px; }
      .gif--container .gif--hover-container .gif--content-actions .gif--content-action-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        opacity: .7;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        background-color: #fff;
        margin: 0 5px;
        color: #572EE5;
        transition: .2s all; }
        .gif--container .gif--hover-container .gif--content-actions .gif--content-action-item:hover {
          opacity: 1; }
    .gif--container .gif--hover-container .gif--info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #fff; }
      .gif--container .gif--hover-container .gif--info .gif--info-subtitle {
        font-size: 0.8rem;
        margin-bottom: 3px; }
      .gif--container .gif--hover-container .gif--info .gif--info-title {
        font-family: Montserrat_bold; }
  .gif--container:hover .gif--hover-container {
    display: block; }

footer {
  height: 116px; }
  footer .center_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: var(--text_color); }

body {
  font-family: Montserrat_regular;
  min-height: 100vh;
  background-color: var(--background_color); }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.separator_page {
  width: 100%;
  height: 5px;
  background-color: var(--separator_top_color); }

.btn_purple {
  border: 1px solid var(--text_titles);
  background-color: transparent;
  border-radius: 25px;
  width: 100px;
  height: 45px;
  outline: none;
  color: var(--text_titles);
  transition: .5s all;
  font-family: Montserrat_bold;
  cursor: pointer; }
  .btn_purple:hover {
    background-color: var(--text_titles);
    color: var(--text_color_hover); }

/*# sourceMappingURL=style.css.map */
